.mainBlock_1 {

}

.mainBlock_1_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 1000px;
}
.mainBlock_1_block_block {
 display: flex;
  justify-content: center;
  align-items: center;
  background: #FEF4EC;
}
.mainBlock_1_block_text {
  
  width: 272px;
  color: #000;
font-family: Rochester;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 119.687%; 
letter-spacing: 2.7px;
}
.mainBlock_1_block_image {
  width: 100%;
  height: 100%;
}